.panda-bg{
     background-color: #fceae8;
}
.panda-btn{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}
.panda-dolor{
    color: #ff4e95; 
}
.categorie-bg-watch{
    color: white;
    background-color: orange;
}
.categorie-bg-bag{
    color: white;
    background-color: orchid;
}
.categorie-bg-shoe{
    color: white;
    background-color: blue;
}
